* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  height: calc(100vh - 70px);
}

a:link {
  text-decoration: none;
  color: #69696a;
}
a:visited {
  text-decoration: none;
  color: #69696a;
}
a:hover {
  text-decoration: none;
  color: #69696a;
}
a:active {
  text-decoration: none;
  color: #69696a;
}

.roundbutton {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: inline-block;
  border-radius: 15px;
  border: 0;
  padding: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}

ul li {
  padding: 3px;
}

.content {
  display: inline-block;
  border-left: 3px solid #69696a;
  margin-left: 5px;
  padding-left: 10px;
  color: #69696a;
}
h2 {
  font-size: 1em;
  margin: 2px;
}

h1 {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    height: 70px;
  }

  .flex_center {
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 20px;
    width: max-content;
  }

  nav {
    margin: 10px;
  }

  .roundbutton {
    margin-top: 0;
  }

  .bottom {
    width: fit-content;
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
  }

  main {
    max-width: 50%;
    position: relative;
    top: 15%;
    float: left;
  }

  .circle {
    border-radius: 50%;
    position: absolute;
  }

  .circles {
    position: relative;
    top: 10%;
    right: 5%;
    width: 50%;
    float: right;
  }

  .blue {
    background-color: rgba(207, 130, 213, 0.6);
    right: 20px;
    top: 40px;
    height: 150px;
    width: 150px;
  }

  .red {
    background-color: rgba(247, 136, 167, 0.6);
    right: 110px;
    top: 0;
    height: 240px;
    width: 240px;
  }

  .yellow {
    background-color: rgba(247, 193, 162, 0.7);
    top: 130px;
    right: 30px;
    height: 180px;
    width: 180px;
  }
}
